fastapi
uvicorn
SQLAlchemy
psycopg2-binary
pgvector
python-multipart
javalang
pydantic
pydantic-settings
sentence-transformers==3.1.1
langgraph
langchain-ollama
bandit
pylint
defusedxml
redis
semgrep
ruff
langchain-google-genai
